@charset "UTF-8";
/* プラグインと干渉して非表示になっていた投稿者選択エリアを表示 */
.components-panel__row {
  display: flex!important;
}

.components-base-control__field {
  display: block!important;
}

/* WordPressデフォルトのプロフィール情報はこのコードで表示可能 WordPress.comの仕様で更新できないため、現在 非表示のまま */
/*.user-description-wrap {
  display: table-row;
}*/