@charset "UTF-8";

$jpTitleFont: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Meiryo', 'メイリオ', 'ＭＳ Pゴシック', 'MS PGothic', sans-serif;
$jpTextFont: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'メイリオ', 'ヒラギノ角ゴ Pro', 'Meiryo', 'メイリオ', 'ＭＳ Pゴシック', 'MS PGothic', sans-serif;

$jpMinchoFont: '游明朝','Yu Mincho','YuMincho','Hiragino Mincho ProN','Hiragino Mincho Pro','ＭＳ明朝','メイリオ','Meiryo',serif;

$normalFontJP: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Meiryo', 'メイリオ', 'ＭＳ Pゴシック', 'MS PGothic', sans-serif;
$boldFontJP: 'HiraKakuProN-W6', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Meiryo', 'メイリオ', 'ＭＳ Pゴシック', 'MS PGothic', sans-serif;

$brandColorOrange: #ECA07E;
$brandColorGreen: #BBD8B5;
$brandColorBlue: #9EC1E4;
$brandColorYellow: #FBD395;

$brandColorOrangeBright: #ff9666;
$brandColorGreenBright: #77cc66;

$markerColorOrange: rgb(252, 216, 200);
$categoryColorGreen: #CCECC6;
$underLineGray: #636363;

$bgColor: #F8F8F8;
$bgColor_important: #F8F8F8 !important;

$defaultTextColor: #000000;
$grayTextColor: #777777;
$featureColor: #871b1b;
$newColor: #f13724;

	.test {
		background: $brandColorBlue;
		font-size: 16px;
	}
	.test2 {
		background: $brandColorBlue;
		font-size: 24px;
	}

	/*
	  references
	*/
	.references ul, .references ol, .references {
		font-size: 14px !important;
		li {
			line-height: 150%;
			margin-bottom: 0.5em;
		}
	}
	
	/* 	
	  point-list
	*/
	.point-list {
		margin: 32px 0 32px 0;
		background: #ffffff;
		padding: 1em;
		font-size: 16px;
		border: 1px solid #aaaaaa;
		h4 {
			text-align: center;
			margin: 0 0 1.5em 0 !important;
			span {
				background: linear-gradient(transparent 60%, $markerColorOrange 0%) repeat scroll 0 0;
			}
		}
		ul {
			padding-left: 28px !important; /* editor only */
			li {
				margin-bottom: 0.5em !important;
				&:last-child {
					margin-bottom: 0 !important;
				}
			}
			margin-bottom: 0 !important;
		}
	}
	
	/*
	  interview
	*/
	.interview_q {
		font-size: 16px; /* editor only */
		font-weight: bold;
		&:before {
			content: "――";
			font-weight: bold;
		}
	}
	.interview_a {
		font-size: 16px; /* editor only */
		text-indent: 1em;
	}
	.interviewee_profile {
		margin: 32px 0 32px 0;
		h4 {
			font-size: 16px !important;
			font-weight: bold;
			text-align: center;
			margin-top: 0 !important;
		}
		background: #ffffff;
		border-radius: 8px;
		padding: 16px;
		border: 1px solid #999999;
		p {
			font-size: 14px !important;
			font-weight: bold;
			margin: 0 0 0 1em;
		}
		ul {
			margin-bottom: 0 !important;
			font-size: 14px !important;
		}
	}
	
	/*
	  nextpage
	*/
	.nextpage {
		margin: 32px 0 32px 0;
		text-align: center;
		strong {
			font-weight: bold;
			font-size: 16px;
			a {
				&:before {
					content: "次ページ → ";
				}
			}
		}
		span {
			display: none;
		}
	}

	/*
	  medical-desc
	*/
	.medical-desc {
		margin: 32px 0 32px 0;
		background: #ffffff;
		padding: 16px 16px 0 16px;
		h3 {
			margin-top: 0 !important;
			text-align: center;
		}
		h4 {
			text-align: center;
			font-weight: normal;
			margin: 0 0 32px 0 !important;
			font-size: 16px;
		}
		.medical-desc-disease {
			h4 {
				margin: 32px 0 16px 0 !important;
				text-align: left;
				font-weight: bold;
				font-size: 16px;
			}
			figure {
				margin: 0 !important;
			}
			table {
				margin-bottom: 0 !important;
			}
		}
		.medical-desc-point {
			h4 {
				margin: 32px 0 0 0 !important;
				text-align: left;
				font-weight: normal;
				font-size: 16px;
			}
			ul {
				padding-left: 28px !important; /* editor only */
				margin-bottom: 0 !important;
			}
		}
	}

	
.whiteBackground {
	background-color: #ffffff; /* editor only */
	border: 1px solid #aaaaaa; /* editor only */
}
ul.withPadding, ol.withPadding {
	padding-right: 1.5em !important;
	padding-bottom: 1em !important;
	padding-top: 1em !important;
	padding-left: 28px !important; /* editor only */
	&.withItemBottomMargin {
		li {
			margin-bottom: 0.5em !important;
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
	&.withItemBottomMarginWide {
		li {
			margin-bottom: 1em !important;
			&:last-child {
				margin-bottom: 0 !important;
			}
			br {
				display: block;
				content: '';
				margin-bottom: 0.5em;
			}
		}
	}
}

div.withPadding, p.withPadding {
	padding-right: 1em !important;
	padding-bottom: 0.5em !important;
	padding-top: 0.5em !important;
}

.faqItem {
	margin: 32px 0 32px 0;
	padding: 16px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	h2 {
		font-size: 20px !important;
		margin: 0 0 1em 0 !important;
	}
	p {
		font-size: 14px !important;
		margin: 0 0 1em 0 !important;
		padding-left: 1.75em;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

	/*
	  css only
	*/
	p.rich-text {
		font-size: 16px !important; /* editor only */
	}

	h2.rich-text {
		font-size: 24px !important; /* editor only */
		font-feature-settings : "palt";
	}
	h3.rich-text {
		font-size: 20px !important; /* editor only */
		font-feature-settings : "palt";
	}
	h4.rich-text {
		font-size: 16px !important; /* editor only */
		font-feature-settings : "palt";
	}


	




